body {
  background-image: url('./public/hero.jpg');
}

section {
  margin-top: 80px;
  text-align: center;
}

li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

#pixel-board {
  display: inline-block;
  height: auto;
  width: 340px;
  margin: 0;
  padding: 0;
  line-height: 1px;
}

#pixel-board li:first-child {
  margin-top: 25px;
}

.pixel {
  display: inline-block;
}

.color,
.white {
  margin: 10px;
  border: 1px solid black;
  display: inline-block;
}

#color-red {
  background-color: red;
  width: 20px;
  height: 20px;
}

#color-blue {
  background-color: blue;
  width: 20px;
  height: 20px;
}

#color-yellow {
  background-color: yellow;
  width: 20px;
  height: 20px;
}

#color-black {
  background-color: black;
  width: 20px;
  height: 20px;
}

#color-orange {
  background-color: orange;
  width: 20px;
  height: 20px;
}

#color-green {
  background-color: green;
  width: 20px;
  height: 20px;
}

#color-white {
  background-color: white;
  width: 20px;
  height: 20px;
}

#generate-board {
  text-align: center;
  height: 40px;
}


input {
  text-align: center;
  height: 35px;
  width: 60px;
}

button {
  display: inline-block;
  height: 40px;
  width: 80px;
}

#clear-board {
  margin-left: 150px;
}

#button-random-color {
  width: 150px;
  margin-left: 10px;
}
